/* ==========================================================================
   Footer Style
   ========================================================================== */
   footer .block-title {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 900;
    margin-bottom: 30px;
  }
  footer .footer-Content {
    background-color: #202020;
    padding: 60px 0;
    color: #fff;
  }
  .textwidget {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #fff;
  }
  footer .menu {
    padding-left: 0;
  }
  footer .menu li {
    padding-bottom: 10px;
  }
  footer .menu li a {
    color: #fff;
    padding: 0px;
  }
  footer .menu li a:hover {
    color: #ff4f57;
  }
  .subscribe-box {
    margin-top: 18px;
  }
  .subscribe-box input[type="text"] {
    color: #444;
    font-size: 12px;
    padding: 6px 12px;
    border: none;
    background: #fff;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    outline: none;
  }
  .subscribe-box input[type="submit"] {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    background: #ff4f57;
    text-transform: uppercase;
    border: none;
    padding: 7px 16px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  .bottom-social-icons {
    margin-bottom: 10px;
  }
  .bottom-social-icons a {
    color: #fff;
    text-align: center;
    width: 42px;
    line-height: 44px;
    margin-right: 5px;
    border-radius: 50px;
    background: #ff4f57;
    display: inline-block;
    height: 42px;
    position: relative;
    overflow: hidden;
  }
  #copyright {
    background-color: #202020;
    border-top: 1px solid #393939;
    padding: 20px 0 10px;
    color: #fff;
  }
  #copyright p {
    line-height: 34px;
  }
  #copyright p a {
    color: #fff;
  }
  #copyright p a:hover {
    color: #ff4f57;
  }
  .social-icon .facebook:hover {
    background-color: #3b5998;
  }
  .social-icon .twitter:hover {
    background-color: #55acee;
  }
  .social-icon .dribble:hover {
    background-color: #D34836;
  }
  .social-icon .flickr:hover {
    background-color: #ff0084;
  }
  .social-icon .youtube:hover {
    background-color: #CC181E;
  }
  .social-icon .google-plus:hover {
    background-color: #dd4b39;
  }
  .social-icon .linkedin:hover {
    background-color: #007bb5;
  }
  footer ul li a {
    padding: 0px;
  }
  footer {
    padding: 0px;
  }
  /*Navbar*/
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 80px;
    width: 100%;
  
  
  
  background: -webkit-linear-gradient(7deg, rgb(255, 255, 255), rgb(255, 215, 0));
  background: linear-gradient(7deg, rgb(255, 255, 255), rgb(255, 215, 0));
  
  
  
  
  border-bottom: 3px double #FF4500;
    position: relative;
  }
  
  
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 13px 10px 10px 10px;
    max-height:50px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #000000;
    margin-top:13px;
    
  }
  
  .nav > .nav-links > a:hover {
    background-color: #FF4500;
    
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover {
      background-color: #FF4500;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #fff;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      z-index:99999;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) + .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked + .nav-links {
      height: calc(100vh - 50px);
      overflow-y: hidden;
    }
  }
  
  .dropbtn {
     display: inline-block;
    padding: 20px 10px 13px 10px;
    text-decoration: none;
    color: #000000;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      position: relative;
      display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #FF4500}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      background-color: #FF4500;
  }
  
  .citiesHover a{color:#000;}
  
  .citiesHover a:hover{
      
      color:#FF4500;
  }
  
  .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
  }
  
  .card > hr {
    margin-right: 0;
    margin-left: 0;
  }
  
  .card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .card-body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 1.25rem;
  }
  
  .card-title {
    margin-bottom: 0.75rem;
  }
  
  .card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
  }
  
  .card-text:last-child {
    margin-bottom: 0;
  }
  
  .card-link:hover {
    text-decoration: none;
  }
  
  .card-link + .card-link {
    margin-left: 1.25rem;
  }
  
  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card-header:first-child {
    border-radius: calc(0 - 1px) calc(0 - 1px) 0 0;
  }
  
  .card-header + .list-group .list-group-item:first-child {
    border-top: 0;
  }
  
  .card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card-footer:last-child {
    border-radius: 0 0 calc(0 - 1px) calc(0 - 1px);
  }
  
  .card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
  }
  
  .card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
  
  .card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
  }
  
  .card-img {
    width: 100%;
    border-radius: calc(0 - 1px);
  }
  
  .card-img-top {
    width: 100%;
    border-top-left-radius: calc(0 - 1px);
    border-top-right-radius: calc(0 - 1px);
  }
  
  .card-img-bottom {
    width: 100%;
    border-bottom-right-radius: calc(0 - 1px);
    border-bottom-left-radius: calc(0 - 1px);
  }
  
  .card-deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .card-deck .card {
    margin-bottom: 15px;
  }
  
  @media (min-width: 576px) {
    .card-deck {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
    .card-deck .card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 0%;
              flex: 1 0 0%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px;
    }
  }
  
  .card-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .card-group > .card {
    margin-bottom: 15px;
  }
  
  @media (min-width: 576px) {
    .card-group {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
    }
    .card-group > .card {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 0%;
              flex: 1 0 0%;
      margin-bottom: 0;
    }
    .card-group > .card + .card {
      margin-left: 0;
      border-left: 0;
    }
    .card-group > .card:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .card-group > .card:first-child .card-img-top,
    .card-group > .card:first-child .card-header {
      border-top-right-radius: 0;
    }
    .card-group > .card:first-child .card-img-bottom,
    .card-group > .card:first-child .card-footer {
      border-bottom-right-radius: 0;
    }
    .card-group > .card:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .card-group > .card:last-child .card-img-top,
    .card-group > .card:last-child .card-header {
      border-top-left-radius: 0;
    }
    .card-group > .card:last-child .card-img-bottom,
    .card-group > .card:last-child .card-footer {
      border-bottom-left-radius: 0;
    }
    .card-group > .card:only-child {
      border-radius: 0;
    }
    .card-group > .card:only-child .card-img-top,
    .card-group > .card:only-child .card-header {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .card-group > .card:only-child .card-img-bottom,
    .card-group > .card:only-child .card-footer {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .card-group > .card:not(:first-child):not(:last-child):not(:only-child) {
      border-radius: 0;
    }
    .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
    .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
    .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-header,
    .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
      border-radius: 0;
    }
  }
  
  .card-columns .card {
    margin-bottom: 0.75rem;
  }
  
  @media (min-width: 576px) {
    .card-columns {
      -webkit-column-count: 3;
              column-count: 3;
      -webkit-column-gap: 1.25rem;
              column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
    }
    .card-columns .card {
      display: inline-block;
      width: 100%;
    }
  }
  .view-container{
      
      display:inline-block;
      margin-top:10px;
  }
  .view-container a{
      
      text-decoration:none;
      font-size:14px;
      padding-left:5px;
      padding-right:5px;
      color:#000;
      
  }
  .view-container a:hover{
      
      color:#FF4500;
  }
  .description-container{
      
      margin-top:2rem;
      z-index:1;
      -webkit-box-shadow: 0px 0px 8px 1px rgba(163,161,163,1);
                -moz-box-shadow: 0px 0px 8px 1px rgba(163,161,163,1);
                box-shadow: 0px 0px 8px 1px rgba(163,161,163,1);
      
  }