<nav class="navbar navbar-default" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="index.html" class="navbar-brand ">
        <span class="logo">
          <!-- <strong>Noddy's</strong>
            <span class="handwriting">Club</span>
            <br />
            <small>something that makes difference</small> -->
          <img src="assets/images/logo.png" height="80px">
        </span>
      </a>

    </div>



    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-right visible-xs">
        <li class="active">
          <a href="/">Home</a>
        </li>


        <li>
          <a href="account_dashboard.html">My account</a>
        </li>

      </ul>
      <div class="nav navbar-nav navbar-right hidden-xs">
        <div class="row">

          <div class="pull-right">


            <!-- <a data-toggle="modal" data-target="#modalLogin" href="#">Login</a> | -->
            <!-- <a href="register.html">Register</a> | -->
            <br>
            <a class="btn btn-warning post-ad-btn" [routerLink]="['/']">Home</a>
            <a class="btn btn-default" href="account_dashboard.html">My account</a>
            <!-- <a href="account_ad_create.html" class="btn btn-default post-ad-btn">Post an ad</a> -->

          </div>
        </div>




      </div>

    </div>
  </div>





</nav>



<hr class="topbar" />
<br>
<br>
<div class="container">
  <div class="row">
    <!-- <div class="col-sm-3">
        <div class="sidebar-account">
          <div class="row ">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-heading">My account</div>
                <div class="panel-body">
                  <ul class="nav">
                    <li>
                      <a class="active" href="account_dashboard.html">Dashboard</a>
                    </li>
                    <li>
                      <a class="active" href="account_profile.html">My profile</a>
                    </li>
                    <li>
                      <a class="active" href="account_account.html">My account</a>
                    </li>
                    <li>
                      <a class="active" href="account_ads.html">Manage ads</a>
                    </li>
                    <li>
                      <a class="active" href="account_ad_create.html">Create new ad</a>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>

        

        </div>
      </div> -->



    <div class="col-sm-9">
      <form class="form-vertical" action="">

        <!-- <div class="panel panel-default">
          <div class="panel-heading">Choose category</div>
          <div class="panel-body">


            <div class="row">
              <div class="col-sm-12 ">

                <div class="form-group">

                  <div class="row">
                    <div class="col-sm-2" style="margin-top: 10px;">
                      <label>Category</label>

                    </div>
                    <div class="col-sm-6">

                      <select id="category" class="form-control " name="category">
                        <option value="">Choose a category</option>
                        <option *ngFor="let category of categories">{{category}}</option>

                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">

                  <div class="row">
                    <div class="col-sm-2" style="margin-top: 10px;">
                      <label>Any Other</label>

                    </div>
                    <div class="col-sm-6">

                      <input type="text" class="form-control ">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->


        


        <div class="panel panel-default">
          <!-- <div class="panel-heading">Ad details</div> -->
          <div class="panel-heading">Event details</div>
          <div class="panel-body">
            <div class="form-group">
              <div class="row">

                <div class="col-sm-12">
                  <label>Title </label>
                  <input type="text" class="form-control ">
                </div>
                <div class="col-sm-12">
                  <br />
                  <label>Description </label>
                  <textarea class="form-control col-sm-8 expand" rows="6" style="width: 99%"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Event Category</div>
            <div class="panel-body">
  
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6">
                    <label>Category</label>
                    <select id="category" class="form-control " name="category">
                      <option value="">Choose a category</option>
                      <option *ngFor="let category of categories">{{category}}</option>
  
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <label>Any other category</label>
                    <input type="text" class="form-control ">
                  </div>
                  <div class="col-sm-6">
                    <br>
                    <label>Age (in Yrs) From: </label>
                    <input type="number" class="form-control " min=0>
                  </div>
                  <div class="col-sm-6">
                    <br>
                    <label>To: </label>
                    <input type="number" class="form-control " min=1>
                  </div>
  
                </div>
              </div>
            </div>
          </div>

        <div class="panel panel-default">
          <div class="panel-heading">Event Schedule</div>
          <div class="panel-body">

            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <label>Start Date</label>
                  <input type="date" value={{nowDate}} class="form-control ">
                </div>
                <div class="col-sm-6">
                  <label>End Date</label>
                  <input type="date" value={{nowDate}} class="form-control ">
                </div>
                <div class="col-sm-6">
                  <br />
                  <label>Start Time</label>
                  <input type="time" value={{nowTime}} class="form-control ">
                </div>
                <div class="col-sm-6">
                  <br />
                  <label>End Time</label>
                  <input type="time" value={{nowTime}} class="form-control ">
                </div>
                <div class="col-sm-6">
                  <br />
                  <label>Price</label>
                  <input type="number" class="form-control ">
                </div>
                <div class="col-sm-6">
                  <br />
                  <label>Branch Address</label>
                  <select id="address" class="form-control " name="address">
                    <option value="">Choose an address</option>
                    <option *ngFor="let category of categories">{{category}}</option>

                  </select>
                </div>
                <div class="col-sm-12">
                  <br />
                  <label>Event Venue</label><br>
                  <label>City</label>
                  <select id="cityDropdown" (change)="cityChanged($event.target.value)" class="form-control " name="city">
                    <option value="">Choose a city</option>
                    <option *ngFor="let location of objectKeys(locations)">{{location}}</option>
                    </select>
                    <br>
                    <label>Place</label>
                    <select id="place" class="form-control " name="place">
                      <option value="">Choose a place</option>
                      <option *ngFor="let innerkey of objectKeys(locations[city])">{{innerkey}}</option>
                      </select>
                      <br>
                      <label>Address</label>
                  <textarea class="form-control col-sm-8 expand" rows="2" style="width: 99%"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- IMAGE UPLOAD -->
          <!-- <div class="panel panel-default">
            <div class="panel-heading">Add photos</div>
            <div class="panel-body">
              <div id="my-dropzone" action="upload.php" class="dropzone">
                <image-upload [url]="'https://www.noddys.club/assets/'" [max]="2" [extensions]="['jpeg','png']" (uploadFinished)="onUploadFinished($event)"></image-upload>
                
              </div>
              <br />
              <p>
                <small>* please note that the displayed images are cropped/resized only for display purposes</small>
              </p>
            </div>
          </div> -->

        <div class="panel panel-default">
          <div class="panel-heading">NOT SET</div>
          <div class="panel-body">
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <label>Price</label><input type="number" class="form-control " placeholder="How much do you want it to be listed for?">
                </div>
                <div class="col-sm-6">
                  <!-- <p>You can adjust your price anytime you like, even after your listing is published.</p> -->
                  <label>Price</label><input type="number" class="form-control " placeholder="How much do you want it to be listed for?">
                </div>
              </div>
            </div>

          </div>




        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Complete ad</div>
          <div class="panel-body">

            <div class="checkbox">
              <label>
                <input type="checkbox"> I agree to the terms and conditions and regulations.
              </label>
            </div>

            <br />
            <!-- <button type="submit" class="btn btn-default hidden-xs">Save draft</button>
              <button type="submit" class="btn btn-default hidden-xs">Preview ad</button> -->
            <a href="account_credits.html" class="btn btn-primary pull-right">
              <i class="icon-ok"></i> Publish ad</a>
            <br />
            <br>
            <p class=" hidden-xs" style="text-align: right">
              <small>* event will be published
                <br /> once our team approves it </small>
            </p>
          </div>




        </div>
      </form>
    </div>




  </div>
</div>
<br />

<!-- Modal -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLogin" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign in to your account</h4>
      </div>
      <div class="modal-body">
        <p>If you have an account with us, please enter your details below.</p>

        <form method="POST" action="account_dashboard.html" accept-charset="UTF-8" id="user-login-form" class="form ajax" data-replace=".error-message p">

          <div class="form-group">
            <input placeholder="Your username/email" class="form-control" name="email" type="text"> </div>

          <div class="form-group">
            <input placeholder="Your password" class="form-control" name="password" type="password" value=""> </div>

          <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary pull-right">Login</button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <a data-toggle="modal" href="#modalForgot">Forgot your password?</a>
            </div>
          </div>

        </form>
      </div>

      <div class="modal-footer" style="text-align: center">
        <div class="error-message">
          <p style="color: #000; font-weight: normal;">Don't have an account?
            <a class="link-info" href="register.html">Register now</a>
          </p>
        </div>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Modal -->
<div class="modal fade" id="modalForgot" tabindex="-1" role="dialog" aria-labelledby="modalForgot" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Forgot your password?</h4>
      </div>
      <div class="modal-body">
        <p>Enter your email to continue</p>

        <form role="form">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Your email address">
          </div>

          <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
              <a href="my_account.html" class="btn btn-primary pull-right">Continue</a>
            </div>
          </div>
        </form>

      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- <div class="footer">
    <div class="container">

      <div class="row">

        <div class="col-sm-4 col-xs-12">
          <p>
            <strong>&copy; Bootstrap Classifieds 2014</strong>
          </p>
          <p>All rights reserved</p>
        </div>

        <div class="col-sm-8 col-xs-12">
          <p class="footer-links">
            <a href="index.html" class="active">Home</a>
            <a href="typography.html">Typography</a>
            <a href="terms.html">Terms and Conditions</a>
            <a href="contact.html">Contact Us</a>
          </p>
        </div>
      </div>
    </div>
  </div> -->